﻿
$font-family-body: "Arial";
    
$font-family-title: "PressStart";
$font-size-small: 10px;
$font-size-medium: 14px;
$font-size-large: 18px;

$white: #FFFFFF;
$black: #000000;
$red: #c73920;
$orange: #fab003;

$text-shadow-black-orange: 2px 2px $black, -2px -2px $orange;
$text-shadow-red: 3px 3px $red;
$text-shadow-orange: 3px 3px $orange;
$text-shadow-black: 2px 2px $black;
