

<root>
	<label class="name">@Name</label>
	<label class="message">@Message</label>
</root>

@code {
	public string Name { get; set; }
	public string Message { get; set; }

	public RealTimeSince TimeSinceBorn = 0;

	public override void Tick()
	{
		base.Tick();
		SetClass("faded", TimeSinceBorn > 10f);
	}
}
