
@inherits Panel

<root class=@(Input.Down(InputButton.Score) ? "open" : "closed")>
    <div class="header">
        <label class="title">CONTROLS</label>
    </div>
        <div class="rows">
        <div class="row">
            <image class="title" src="ui/hud/wasdcontrols.png" </image>
            <label class="title">OR</label>
            <image class="title" src="ui/hud/leftstickcontrols.png" </image>
            <label class="stat">TO WALK</label>
        </div>
            <div class="row">
            <image class="title" src="ui/hud/spacejump.png" </image>
            <label class="title">OR</label>
            <image class="title" src="ui/hud/axjump.png" </image>
            <label class="stat">TO JUMP</label>
        </div>
            </div>
            <div class="row">
            <image class="title" src="ui/hud/huddisable.png" </image>
            <label class="stat">TO DISABLE HUD</label>
        </div>
    </div>
</root>

@code {

    protected override int BuildHash()
    {
        return HashCode.Combine(Input.Down(InputButton.Score));
    }
}

