
@inherits Panel

<root class=@(IsOpen ? "open" : "closed")>
    <div class="bar">
        <label class="heightbar"></label>
        <label class="flag"></label>

        <div class="heightbarpos" style="height:@(CalculateProgress(Height) * 100)%;">
            <label class="heighttext" text="< @(Height)" />
        </div>

        <div class="maxheightbarpos" style="height:@(CalculateProgress(MaxHeight) * 100)%;">
            <label class="maxheighttext" text="@(MaxHeight) >" />
        </div>
    </div>
</root>

@code
{
    public float StartHeight => JumperGame.Current.StartHeight;
    public float EndHeight => JumperGame.Current.EndHeight;
    public float TotalHeight => JumperGame.Current.MapLength;
    public float Height => (Local.Pawn as JumperPawn)?.Height ?? 0;
    public float MaxHeight => (Local.Pawn as JumperPawn)?.MaxHeight ?? 0;
    bool IsOpen { get; set; }

    private float CalculateProgress(float height)
    {
        return height.LerpInverse(0, TotalHeight);
    }
	
    protected override int BuildHash()
    {
        //var result = Input.Pressed(InputButton.Slot1).GetHashCode();
		
        IsOpen ^= Input.Pressed(InputButton.Slot1);

        return HashCode.Combine(IsOpen, Height, MaxHeight);
    }
}
