
@inherits Panel

<root class=@(IsOpen ? "open" : "closed")>
    <div class="bar">
        <label class="heightbar"></label>
        <label class="flag"></label>

        <div class="heightbarpos" style="height:@(HeightFraction * 100)%;">
            <label class="heighttext" text="< @Height" />
        </div>

        <div class="maxheightbarpos" style="height:@(MaxHeightFraction * 100)%;">
            <label class="maxheighttext" text="@MaxHeight >" />
        </div>
    </div>
</root>

@code
{
    public float EndHeight => JumperGame.Current.EndHeight;
    public float Height => (Local.Pawn as JumperPawn)?.Height ?? 0;
    public float MaxHeight => (Local.Pawn as JumperPawn)?.MaxHeight ?? 0;
    public float HeightFraction => Height / EndHeight;
    public float MaxHeightFraction => MaxHeight / EndHeight;
    bool IsOpen { get; set; }
	
    protected override int BuildHash()
    {
        //var result = Input.Pressed(InputButton.Slot1).GetHashCode();
		
        IsOpen ^= Input.Pressed(InputButton.Slot1);

        return HashCode.Combine(IsOpen, Height, MaxHeight);
    }
}
