
@inherits Panel;

<root>
	<label class="height">@Height</label>
	<label class="maxheight">@MaxHeight</label>
</root>

@code
{
	private float Height { get; set; }
	private float MaxHeight { get; set; }

	public override void Tick()
	{
		base.Tick();

		if (Local.Pawn is not JumperPawn pawn)
			return;

		MaxHeight = pawn.MaxHeight;
		Height = pawn.Height;
	}

	protected override int BuildHash()
	{
		return HashCode.Combine(Height, MaxHeight);
	}
}