
@inherits Panel;

<root>
	<label class="height">@Height</label>
	<label class="maxheight">@MaxHeight</label>
</root>

@code
{
	private float Height;
	private float MaxHeight;

	public override void Tick()
	{
		base.Tick();

		if (Local.Pawn is not JumperPawn pawn)
			return;

		MaxHeight = Math.Max(Height, MaxHeight);
		Height = pawn.Height;
	}

	protected override int BuildHash()
	{
		return HashCode.Combine(Height, MaxHeight);
	}

}