
@inherits Panel

<root class=@(IsOpen ? "open" : "closed")>
    <div class="header">
        <label class="name">Name</label>
        <label class="score">Height</label>
        <label class="ping">Ping</label>
    </div>
    <div class="entries">
        @foreach (var player in Game.Clients)
        {
            @if (player.Pawn is not JumperPawn p) continue;
            <div class=@(p.IsLocalPawn ? "entry me" : "entry")>
                <label class="you">You</label>
                <label class="name">@player.Name</label>
                <label class="score">@p.MaxHeight</label>
                <label class="ping">@player.Ping</label>
            </div>
        }
    </div>
</root>

@code {
    bool IsOpen { get; set; }
    protected override int BuildHash()
    {
        IsOpen ^= Input.Pressed(InputButton.Slot3);
        var result = Input.Down(InputButton.Score).GetHashCode();
        foreach(var cl in Game.Clients)
        {
            if (cl.Pawn is not JumperPawn p) continue;
            result = HashCode.Combine(result, p.MaxHeight, cl.Ping);
        }
        return HashCode.Combine(IsOpen, result);
    }
}
