
@inherits Panel;

<root class=@(IsOpen ? "open" : "closed")>
	<label class="sessiontimetext" style="top:32px">Session Time</label>
	<label class="sessiontimetext">@SessionTime</label>
</root>

@code
{
	private string SessionTime;
	bool IsOpen { get; set; }
	
	public override void Tick()
	{
		base.Tick();
	
		SessionTime = TimeSpan.FromSeconds((JumperGame.Current.SessionTimer * 60).Clamp(0, float.MaxValue)).ToString(@"dd\:hh\:mm\:ss");
		
	}

	protected override int BuildHash()
	{
		IsOpen ^= Input.Pressed(InputButton.Slot2);
		return HashCode.Combine(IsOpen, SessionTime);
	}

}