@inherits Panel;

<root class=@(IsOpen ? "closed" : "open")>
	<label class="speedruntimetext">@GetTimeLeftLabel()</label>
</root>

@code
{
	bool IsOpen { get; set; }
	public TimeUntil Timer { get; set; }

	TimeSpan TimeRemaining => TimeSpan.FromMinutes(Timer);
	TimeSpan StopTime;

	public string GetTimeLeftLabel()
	{
		if (!TimerStarted)
		{
			return StopTime.ToString(@"dd\:hh\:mm\:ss");
		}
		return TimeRemaining.ToString(@"dd\:hh\:mm\:ss");
	}

	public bool TimerStarted = false;

	public override void Tick()
	{
		base.Tick();
		if (Input.Pressed(InputButton.Slot5))
		{
			TimerStarted = !TimerStarted;
			if (!TimerStarted)
			{
				StopTime = TimeRemaining;
			}
		}
		if (!TimerStarted)
		{
			Timer = 0;
		}
	}

	public void ReachedEnd()
	{
		StopTime = TimeRemaining;
		TimerStarted = false;
	}
	protected override int BuildHash()
	{
		IsOpen ^= Input.Pressed(InputButton.Slot4);
		return HashCode.Combine(IsOpen, GetTimeLeftLabel());
	}

}