
@inherits Panel

<root class=@(Input.Down(InputButton.Score) ? "open" : "closed")>
    <label class="title">JUMPER</label>
    <label class="stats">STATS</label>
    <div class="header">
        <label class="name">NAME</label>
        <label class="jumps">JUMPS</label>
        <label class="maxheight">MAX HEIGHT</label>
        <label class="falls">FALLS</label>
	</div>
    <div class="entries">
        <div class="entry">
        <label class="name">@PlayerName</label>
        <label class="jumps">@TotalJumps</label>
        <label class="maxheight">@MaxHeight</label>
        <label class="falls">@TotalFalls</label>
     </div>
     </div>
</root>

@code {

    private int TotalJumps { get; set; }
    private int TotalFalls { get; set; }
    private float MaxHeight { get; set; }
    private string PlayerName { get; set; }

	public Stats()
    {
		if (Local.Pawn is not JumperPawn pawn)
			return;

		PlayerName = pawn.Client.Name;
    }
	
    public override void Tick()
    {
        base.Tick();

        if (Local.Pawn is not JumperPawn pawn)
            return;

        MaxHeight = pawn.MaxHeight;
        TotalJumps = pawn.TotalJumps;
        TotalFalls = pawn.TotalFalls;
    }
    protected override int BuildHash()
    {
        var result = Input.Down(InputButton.Score).GetHashCode();

        result = HashCode.Combine(result, TotalJumps, MaxHeight, TotalFalls);
     
        return result;
    }
}

