
$font-family-body: "Arial";
$font-family-title: "PressStart";
$font-size-small: 10px;
$font-size-medium: 14px;
$font-size-large: 17px;

$white: #FFFFFF;
$red: #ff0000;
$orange: #fab003;

$text-shadow-black-orange: 3px 3px #000000, -3px -3px #fab003;
$text-shadow-red: 4px 4px #ff0000;
