
@import "_vars.scss";

Chat {
    font-family: $font-family-title;
    color: $white;
    flex-direction: column;
    width: 800px;
    height: 550px;
    position: absolute;
    bottom: 200px;
    left: 240px;
    z-index: 1000;



    .entries {
        overflow: scroll;
        flex-direction: column;
        flex-grow: 1;

        ChatEntry {
            min-height: 20px;
            text-shadow: $text-shadow-black;
            transition: all .15s ease;

            &:not(:last-child) {
                margin-bottom: 10px;
            }

            &.faded {
                opacity: 0;
            }

            .name {
                flex-shrink: 0;
                color: $orange;
            }

            &:intro {
                transform: scale(1);
            }

            &:outro {
                transform: scale(0);
                opacity: 0;
            }

            &.me .you {
                color: red;
            }
        }
    }

    textentry {
        padding: 8px;
        margin-top: 8px;
        color: $white;
        min-height: 32px;
        border-bottom: 0px solid $red;
        padding-bottom: 4px;
        transition: all .15s ease;
    }

    &.open textentry {
        border-bottom: 4px solid $black;
        padding-bottom: 0;
    }

    &.open {
        pointer-events: all;

        .entries {
            ChatEntry {
                opacity: 1;
                backdrop-filter: blur( 10px );
                cursor: text;
            }

            .faded {
                opacity: 1;
            }
        }
    }
}
