
@import "_vars.scss";

NPCTalk {
    position: absolute;
    bottom: 10%;
    opacity: 0;
    width: 500px;
    flex-direction: column;
    font-weight: 100;
    transition: all 1s ease-out;
    transition: opacity .1s linear;
    text-align: center;
    align-content: center;
    z-index: 12;
    justify-content: center;

    &.visible {
        opacity: 1;
        transition: all .1s ease-in;
    }

    .message {
        font-family: $font-family-title;
        text-shadow: $text-shadow-red;
        color: $white;
        font-size: 18px;
        position: absolute;
        left: 140%;
        transform: translateX(-50%);
    }
}
