
@import "_vars.scss";

NPCTalk {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    z-index: 100;
    font-weight: 100;
    transition: all 1s ease-out;
    transition: opacity .1s linear;
    text-align: center;
    align-content: center;
    z-index: 12;

    &.visible {
        opacity: 1;
        transition: all .1s ease-in;
    }

    .message {
        font-family: $font-family-title;
        text-shadow: $text-shadow-red;
        color: $white;
        font-size: 18px;
        position: absolute;
        bottom: 10%;
        left: 50%;
        transform: translateX(-50%);
    }
}
