
Scores {
    position: absolute;
    flex-direction: column;
    font-family: "PressStart";
    font-size: 10px;
    color: white;
    width: 400px;
    right: 50px;
    top: 100px;
    height: 100%;
    transition: all 0.1s ease-out;
    transform: scale( 1.05 );

    &.open {
        transform: scale( 1 );
    }

    .score, .ping, .name {
        width: 100px;
        text-transform: uppercase;
        justify-content: center;
    }

    .name {
        flex-grow: 1;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .score {
        padding-right: 20px;
    }

    .header {
        font-weight: 200;
        margin-bottom: 20px;
        text-shadow: 2px 2px #ff0000;
    }

    .entries {
        flex-direction: column;

        .entry {
            text-shadow: 1px 1px #ff0000;

            &:not( :first-child ) {
                margin-top: 4px;
            }

            .friend {
                right: 16px;
                top: 8px;
                position: absolute;
                font-family: Material Icons;
                font-size: 24px;
                color: lightgreen;
            }

            .you {
                position: absolute;
                left: -50px;
                color: linear-gradient( to top, #df4a64, #d72e4c );
                text-transform: uppercase;
                height: 100%;
                align-self: center;
                opacity: 0;
            }

            &.me .you {
                opacity: 1;
            }
        }
    }
}
