
@import "_vars.scss";

Stats {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 40%;
    width: 450px;
    transform: translate( -50% -50% );
    font-family: $font-family-title;
    font-size: $font-size-medium;
    color: $white;
    transition: all 0.2s ease-out;
    text-shadow: 1px 1px $red;
    opacity: 0;
    border-image: url( /ui/border.png ) 50 fill stretch;
    border: 20px solid transparent;
    flex-direction: column;

    &.open {
        opacity: 1;
        transition: all 0.2s ease-in;
    }

    .rows {
        flex-direction: column;
        padding: 8px;
    }

    .header {
        flex-direction: column;
        min-height: 60px;
        margin-top: 50px;

        .title {
            margin-left: 30px;
            font-size: $font-size-large;
        }

        .stats {
            margin-left: 35px;
            font-size: $font-size-medium;
        }
    }

    .row {
        padding: 8px;
        margin-bottom: 10px;
        margin-left: 30px;

        .title {
            min-width: 170px;
        }
    }
}