$white: #FFFFFF;
$black: #000000;
$red: #c73920;
$orange: #fab003;

$text-shadow-black-orange: 2px 2px $black, -2px -2px $orange;
$text-shadow-red: 10px 10px $red;

MainMenu {
    background-color: black;
    padding: 128px 128px;
    opacity: 1;
    flex-direction: column;
    font-size: 25px;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all 0.3s ease-out;
    color: rgba( white, 0.8 );

    .background {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0.2;
        mask-scope: filter;
    }

    &:intro {
        opacity: 0;
        transform: scaleX( 1.1 );
    }

    &.ingame {
        background-color: #262934ee;
        backdrop-filter: blur(10px);

        .background {
            opacity: 0;
        }
    }

    .spacer {
        height: 1px;
        background-color: white;
        width: 512px;
        margin: 16px 0px;
    }

    .game-title {
        position: absolute;
        font-family: PressStart;
        font-weight: 700;
        font-size: 70px;
        color: rgba( white, 1 );
        padding-bottom: 64px;
        text-shadow: $text-shadow-red;
        text-transform: uppercase;
        justify-content: center;
        top: 10%;
    }

    .controls {
        flex-direction: column;
        gap: 50px;
        align-items: center;
        text-transform: uppercase;
        border-image: url( /ui/border.png ) 50 fill stretch;
        border: 20px solid transparent;
        min-width: 20%;

        a, .button {
            font-family: PressStart;
            color: white;

            &:hover {
                color: rgba( $red, 1 );
                font-weight: 900;
                sound-in: beep1;
            }

            &:active {
                sound-in: menu.select.jumper;
            }
        }

        .span {
            gap: 128px;
        }
    }

    .navigator-canvas {
        flex-direction: column;
        height: 100%;
        flex-grow: 1;
        flex-shrink: 0;
    }

    .navigator-body {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        transition: opacity 0.15s ease-out;

        &.hidden {
            opacity: 0;
        }
    }
}

FormGroup {
    flex-direction: column;
    min-width: 300px;
    gap: 16px;
    font-family: PressStart;
    color: white;
}

SlimPackageCard
{
    flex-direction: row;
    gap: 12px;
    align-items: center;

    > i
    {
        
        &:hover
        {
            color: white;
            transform: scale( 1.1 );
            sound-in: ui.button.over;
        }

        &:active
        {
            sound-in: ui.button.press;
        }
    }
}

i
{
    font-family: Material Icons;
    text-transform: lowercase;
}
